
.cjshortcode ul li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	display:inline-block;
}

.cjshortcode ul li a {
	color:#0062A0;
}

.cjshortcode .cjimg {
	width:160px;
	float:left;
}

.cjshortcode .cjpr {
  float:right;
  width:400px;
}

.cjshortcode .cjbtn {
	/* background-color:#FFD43F;
	border:1px solid #F2BF2F; */
background-color:#F0F0F0;
border:1px solid #D9D9D9;
	color:#2F1506 !important;
	font-size:12px;
	padding:2px 10px;
}
.cjshortcode .cjbtn:hover {
/*	background:none repeat scroll 0 0 #FFA942; */
	background:none repeat scroll 0 0 #c9c9c9;
	color:#824304;
	cursor:pointer;
	text-decoration:none;
}
.cjshortcode .cjbtn {
	-moz-border-radius:5px 5px 5px 5px !important;
	cursor:pointer;
	font-weight:bold;
}
.cjshortcode a.cjbtn {
	color:#206BA4;
	text-decoration:none;
}

.cjshortcode .cjprice {
  font-weight:bold;
}

.cjshortcode a.cjtitle {
	font-weight:bold;
  font-size:13px;
}
